//
// UI Kit buttons
//
@import "sprite";
.kit_button {
  display: block;
  cursor: pointer;
  height: $button_height;
  position: relative;

  text-align: center;
  background-color: $button_active_color;
  @include border_radius(4px);
  @include shadow(2px, 2px, 0, rgba(50, 50, 50, 0.75))
}

.kit_button:not(.button_inactive):hover, .kit_db-button:hover, .kit_date-picker:hover {
  background-color: $button_hover_color;
}

.kit_button p {
  display: inline-block;
  @include center-align;
  opacity: 1;
  @include roboto(16px, bold);
}

.button_size_m {
  width: 164px;
}

.button_size_n {
  width: 164px;
  height: 42px;
}

.button_size_b {
  width: 352px;
}
.button_inactive {
  background-color: $button_inactive_color;
}


.kit_db-button {
  cursor: pointer;
  display: inline-block;
  width: 332px;
  height: 28px;
  margin-top: 5px;
  background-color: $button_active_color;
  @include border_radius(2px);
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  span {
    display: block;
    width: 283px;
    height: 100%;
    padding-top: 6px;
    text-align: center;
    @include roboto(16px, bold)
  }
  i {
    display: block;
    position: relative;
    top: -34px;
    float: right;
    width: 23px;
    height: 22px;
    margin: 3px 26px 0 0;
  }
  i.db-icon {
    @include sprite($db_list);
  }
  i.cal-button {
    @include sprite($datepicker)
  }
}

.kit_date-picker {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: $button_active_color;
  @include border_radius(2px);
  span {
    padding: 0 8px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    height: 100%;
    text-align: center;
    @include roboto(13px, medium)
  }
  i {
    float: right;
    display: block;
    width: 40px;
    height: 100%;
    position: relative;
    top: 9px;
    left: -4px;
    @include sprite($datepicker);
  }
}

.kit_date-picker_size_m {
  height: 28px;
  line-height: 28px;
}

.kit_date-picker_size_l {
  height: 42px;
  line-height: 42px;
  @include border_radius(4px);
  span {
    font-size: 16px ;
  }
}
