$button_height: 57px;

$button_active_color: rgb(24, 167, 75);
$button_hover_color: rgb(49, 193, 119);
$button_inactive_color: rgba(33, 180, 105, 0.7);

$menubutton_active_color: rgb(33, 180, 105);

$gray_text: #464646;
$header_gray: #565656;

$green_text: #21b469;
$search_underline_color: #21b268;

$sliderWidth: 960px;
