doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
   head
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      title [SUBJECT]
      style(type='text/css').
         body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin:0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
         }
         .tableContent img {
            border: 0 !important;
            display: block !important;
            outline: none !important;
         }
         a{
            color:#382F2E;
         }
         p, h1{
            color:#382F2E;
            margin:0;
         }
         p{
            text-align:left;
            color:#999999;
            font-size:14px;
            font-weight:normal;
            line-height:19px;
         }
         a.link1{
            color:#382F2E;
         }
         a.link2{
            font-size:16px;
            text-decoration:none;
            color:#ffffff;
         }
         h2{
            text-align:left;
            color:#222222;
            font-size:19px;
            font-weight:normal;
         }
         div,p,ul,h1{
            margin:0;
         }
         .bgBody{
            background: #ffffff;
         }
         .bgItem{
            background: #ffffff;
         }
      script.swatch.active(type='colorScheme').
         {
         "name":"Default",
         "bgBody":"ffffff",
         "link":"382F2E",
         "color":"999999",
         "bgItem":"ffffff",
         "title":"222222"
         }
   body(paddingwidth='0', paddingheight='0', style='padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;', offset='0', toppadding='0', leftpadding='0')
      table.tableContent.bgBody(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', style='font-family:Helvetica, Arial,serif;')
         tr
            td(height='35')
         tr
            td
               table.bgItem(width='600', border='0', cellspacing='0', cellpadding='0', align='center')
                  tr
                     td(width='40')
                     td(width='520')
                        table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
                           // =============================== Header ======================================
                           tr
                              td(height='75')
                           // =============================== Body ======================================
                           tr
                              td.movableContentContainer(valign='top')
                                 .movableContent
                                    table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
                                       tr(style="height:60px" valign="center")
                                          td(valign='top', align='left')
                                             .contentEditableContainer.contentImageEditable
                                                .contentEditable
                                                   img(src='http://127.0.0.1:8080/static/img/header_bg_email.jpg', width='520', height='102', alt='', data-default='placeholder', data-max-width='560', style='margin-bottom:50px')
                                 .movableContent
                                    table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
                                       tr
                                          td(valign='top', align='center')
                                             .contentEditableContainer.contentTextEditable
                                                .contentEditable
                                                   p(style='text-align:center;margin:0;font-family:Georgia,Time,sans-serif;font-size:26px;color:#222222;')!{headerText} 
                                 .movableContent
                                    table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
                                       tr
                                          td(height='25')
                                       tr
                                          td(align='left')
                                             .contentEditableContainer.contentTextEditable
                                                .contentEditable(align='center')
                                                   p(style='text-align:left;color:#999999;font-size:14px;font-weight:normal;line-height:19px;') !{bodyText}
                                       tr
                                          td(height='55')
                                       tr
                                          td(align='center')
                                             table
                                                tr
                                                   td(align='center', bgcolor='#21B469', style='background:#21B469; padding:15px 18px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;')
                                                      .contentEditableContainer.contentTextEditable
                                                         .contentEditable(align='center')
                                                            a.link2(target='_blank', href='#', style='color:#ffffff;') Confirm email
                                       tr
                                          td(height='20')
                                 div(lass='movableContent')
                                    table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
                                       tr
                                          td(height='65')
                                       tr
                                          td(style='border-bottom:1px solid #DDDDDD;')
                                       tr
                                          td(height='25')
                                       tr
                                          td
                                             table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
                                                tr
                                                   td(valign='top', align='left', width='370')
                                                      .contentEditableContainer.contentTextEditable
                                                         .contentEditable(align='center')
                                                            p(style='text-align:left;color:#CCCCCC;font-size:12px;font-weight:normal;line-height:20px;')
                                                               span(style='font-weight:bold;') © 2014 Erasmus University Rotterdam
                                                               br
                                                               |                                           All rights reserved
                                                               br
                                                   td(width='30')
                                                   td(valign='top', width='35')
                                                      .contentEditableContainer.contentFacebookEditable
                                                         .contentEditable
                                                            a(target='_blank', href='https://www.facebook.com/pages/UniOrg/1587626328171886')
                                                               img(src='http://127.0.0.1:8080/static/img/icon_facebook.png', width='35', height='35', alt='facebook icon', data-default='placeholder', data-max-width='35', data-customicon='true')
                                                   td(width='16')
                                                   td(valign='top', width='35')
                                                      .contentEditableContainer.contentTwitterEditable
                                                         .contentEditable
                                                            a(target='_blank', href='#')
                                                               img(src='http://127.0.0.1:8080/static/img/icon_twitter.png', width='35', height='35', alt='twitter icon', data-default='placeholder', data-max-width='35', data-customicon='true')
                                                   td(width='16')
                                                   td(valign='top', width='35')
                                                      .contentEditableContainer.contentTwitterEditable
                                                         .contentEditable
                                                            a(target='_blank', href='#')
                                                               img(src='http://127.0.0.1:8080/static/img/icon_google.png', width='35', height='35', alt='google icon', data-default='placeholder', data-max-width='35', data-customicon='true')
                           // =============================== footer ======================================
                     td(width='40') 
         tr
            td(height='88')
