footer
   a.logo-link(href="/")
      i.logo
   span.footer-social
      a(href="http://facebook.com") F
      a(href="http://twitter.com") L
      a(href="http://plus.google.com") G
   span.footer-copyright
      p © 2014 Erasmus University Rotterdam
      p All rights reserved
